$button-color: #444;

.control {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-basis: calc(100% / 11);
  flex-direction: column;
}

.height {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  background-color: #ddd;
}

.button {
  padding: 5px 0;
  border: none;
  background-color: $button-color;
  color: #fff;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: darken($button-color, 5%);
  }

  &:active {
    background-color: darken($button-color, 10%);
  }
}
